/* green-blue: #4D91A9 */
/* sand: #D4D0CB */

/** {
  border: 1px dashed blue;
}*/

html {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

/*.nav-style {*/
nav {
  height: 35px;
  width: auto;
  padding: 10px 15px 10px 10px;
  /*clear: both;
  overflow: hidden;*/
  background-color: #D4D0CB;
  color: #007EA5;
  font-family: arial;
}

/*nav {
  color: #fff;
  font-size: 0.555em;
  font-weight: 900;
  margin-bottom: 50px;
  margin-top: px;
  background-color: yellow;
}*/

header {
  color: #007EA5;
  padding: 10px;
  font-size: 1.833em;
  /*border-radius: 8px;*/
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 100px;
}

header div p {
  color: #5BA9C9;
  /*color: #5BA9C9;*/
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: arial;
  text-align: center;
  padding-bottom: 0px;
  opacity: 0.7;
}

body, h3 {
  text-align: center;
  padding: 0px;
}

main {
  float: none;
}

.column--main {
  float:left;
  width: 31.3%;
  margin: 1%;
  background-color: #fff;
}

h3 {
  border: 1px solid #000;
  padding: 5px;
  margin-left: auto;
  font-family: arial;
  font-size: 1.25rem;
  color: #007EA5;
}


.float-right {
  float: right;
}

.nav-left {
  color: #007EA5;
}

.text-button {
  padding: 5px 8px 5px 8px;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  color: #4D91A9;
  /*border: 1px solid #007EA5;*/
  font-weight: bold;
  font-family: arial;
  margin: 5px 5px 0px 5px;
  background-color: #fff;
}

.text-button-spacing {
  margin-right: 20px;
}

/*.search {
  background-color: #B21B04;
  color: #fff;
}*/

.button-link-activate {
  margin-bottom: 20px;
}


span.dream {
  font-size: 2em;
}

a {
  text-decoration: none;
}


.nav-menu {
    text-align: center;
    color: #007EA5;
    text-decoration: none;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0px 0px 0px 20px;
    padding: 0;
    font-family: arial;
    font-size: 15px;
    opacity: 0.7;
}

p,
p ul {
  font-family: arial;
  list-style-type: none;
  font-size: 15px;
  opacity: 0.7;
}

.header-frame {
  background-color: #fff;
  /*margin: 10px;*/
  height: 450px;
  margin-top: 0px;
}

.entry {
  width: 400px;
  float: left;
  border: 1px solid #000;
  margin: 15px;
  height: 500px;
  background-color: #fff;
  /*border-radius: 10px;*/
}

.frame {
  background-color: #fff;
  margin: 10px;
  text-align: left;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  position:relative;
  padding-bottom: 2px;
}

a:hover {
  color: darkslateblue;
  /*color: #007EA5;*/
}

a {
  margin: 10px;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

footer {
  height: 80px;
  width: 100%;
  padding: 20px 0px;
  clear: both;
  overflow: hidden;
  background-color: #D4D0CB;
  color: #007EA5;
  margin-top: 100px;
  font-family: arial;
}

.column--footer {
  float:left;
  width: 31.3%;
  margin: 1%;
  background-color: #4D91A9;
}
