/* green-blue: #4D91A9 */
/* sand: #D4D0CB */

/** {
  border: 1px dashed blue;
}*/

body, h3 {
  text-align: center;
  padding: 0px;
}

h3 {
  border: 1px solid #000;
  padding: 5px;
  margin-left: auto;
  font-family: arial;
  font-size: 1.25rem;
  color: #007EA5;
}

header div p {
  color: #007EA5;
  font-size: 2em;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: impact;
  text-align: center;
  padding-bottom: 0px;
  opacity: 0.7;
}

.float-right {
  float: right;
}

.nav-left {
  color: #007EA5;
}

.text-button {
  padding: 5px 8px 5px 8px;
  background-color: #fff;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  border: 0px;
  color: #007EA5;
  border: 1px solid #007EA5;
  font-weight: bold;
}

.button-link-activate {
  margin-bottom: 20px;
}

nav {
  color: #fff;
  font-size: 0.555em;
  font-weight: 900;
  margin-bottom: 50px;
}

span.dream {
  font-size: 2em;
}

a {
  text-decoration: none;
}

header {
  color: #007EA5;
  padding: 10px;
  font-size: 1.833em;
  border-radius: 8px;
}

.nav-menu {
    text-align: center;
    color: #007EA5;
    text-decoration: none;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 15px;
    opacity: 0.7;
}

p,
p ul {
  font-family: arial;
  list-style-type: none;
  font-size: 15px;
  opacity: 0.7;
}

.header-frame {
  background-color: #fff;
  margin: 10px;
  border: 1px solid #000;
}

.entry {
  width: 400px;
  float: left;
  border: 1px solid #000;
  margin: 15px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.frame {
  background-color: #fff;
  margin: 10px;
  text-align: left;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  position:relative;
  padding-bottom: 2px;
}

a:hover {
  color: darkslateblue;
}

a {
  margin: 10px;
}

footer div {
  height: 30px;
  width: 100%;
}
